version: '3.8'
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - quiz-net

  frontend:
    image: nginx:stable-alpine
    volumes:
      - ./frontend/build:/usr/share/nginx/html:ro
    ports:
      - "3000:80"
    restart: unless-stopped
    networks:
      - quiz-net

networks:
  quiz-net:
    driver: bridge
